/* ############################################################ INICIO ############################################################ */
* {
    Margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #E4F9F5;
    position: sticky;
    top: 0px;
    z-index: 2;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1320px;
}

footer {

    text-align: center;
    position: relative;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    list-style: none;
    display: flex;
}

.nav__item {
    margin: 0 0 0 1.5rem;
}


.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 1rem;
}


.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}


h1 {
    margin-top: 100px;
    font-family: 'Monsieur La Doulaise', cursive;
    font-size: 5.65rem;
    color: #66BFBF;
}

h2 {
    color: #66BFBF;
    font-family: 'Viaoda Libre', cursive;
    padding-bottom: 20px;
    padding-top: 20px;
}

h3 {
    color: #11999E;
    font-family: 'Viaoda Libre', cursive;
}

.below-tittle {
    font-size: 1.8rem;
    color: #66BFBF;
}

.middle-container {
    margin: 100px;
}

.footer-link {
    color: #11999E;
}


p {
    line-height: 2;
}

hr {
    border: dotted 6px;
    color: #adf1f1;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.pic1 {
    width: 200px;
    height: 200px;
}

.pic2 {
    float: left;
    margin-right: 30px;
    width: 25%
}

.pic3 {
    float: right;
    margin-left: 30px;
    width: 25%
}

a {
    color: #11999E;
    font-family: 'Viaoda Libre', cursive;
    margin: 10px 20px;
    text-decoration: none;
}

.intro {
    width: 30%;
    text-decoration: none;
    margin: auto;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.goals-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}



.contact-me {
    width: 40%;
    margin: 40px auto 60px;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 25px 0 25px 0;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
}

.col {
    font-size: 30px;
}

.fa-facebook {
    color: #1c1cdc;

}

.fa-github {
    color: black;
}

.fa-linkedin {
    color: #0e76a8;
}

#goals-paragraph-clear,
#skills-paragraph-clear {
    color: black;
}



/* ############################################################### AYUDA ############################################################### */

section h1 {
    margin-top: 0;
    font-family: 'Monsieur La Doulaise', cursive;
    font-size: 4.65rem;
    color: #66BFBF;
}

fieldset {
    /* display: block; */
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 192, 192);
    border-image: initial;
}

form {
    position: relative;
    width: 450px;
    margin: 80px auto 80px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    border-radius: 10px;
}


.body-ayuda {
    background-image: url(https://img3.goodfon.com/wallpaper/nbig/3/a3/new-york-city---snow-on-a.jpg);
    background-size: 100vw;
    background-size: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

input,
textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    font-size: 17px;
    border: none;
}

textarea {
    min-height: 100px;
    max-height: 200px;
    min-width: 100%;
    max-width: 100%;
}

#boton {
    background-color: #31384A;
    color: #fff;
    padding: 20px;
}

#boton:hover {
    cursor: pointer;
}

/* .field-ayuda{
    margin: 10px 10px 10px 10px;
    border-color: #003366;
} */

/* .info-contacto{
    width: 25%;
    text-align: left;
} */

/* ############################################################### METAS ############################################################### */

.body-metas {
    background-image: url(https://media.traveler.es/photos/613779b46936668f30c3fa10/16:9/w_2580,c_limit/33288.jpg);
    background-size: 100vw;
    background-size: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}


.tarjetas {
    margin: 80px 0 80px 0;
    width: 100%;
    height: 100%;
    letter-spacing: 0.03em;
    line-height: 1.6;
}

.title-card {
    margin-bottom: 30px;
}

.container-metas {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container-metas .card {
    width: 330px;
    height: 430px;
    border-radius: 20px;
    background-color: #31384A;
    box-shadow: 0 2px 2px rgba(149, 139, 139, 0.2);
    overflow: hidden;
    margin: 35px;
    text-align: center;
    transition: all 0.25s;
}

.container-metas .card img {
    width: 330px;
    height: 220px;
}

.container-metas .card h4 {
    font-size: 1rem;
    font-weight: 800;
    color: #fff;
}

.container-metas .card p {
    padding: 1rem 1rem;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
}

.container-metas .card a {
    background-color: black;
    padding: 0.5rem;
    margin-top: 10px;
    color: #fff;
}

/* .card {            Opcion 1 para crear tarjetas
  color: white;
  background-image: url("https://unsplash.it/400");
  background-size: cover;
  padding: 10rem 0 0;
  max-width: 280px;
  border-radius: 1rem;  
  overflow: hidden;
  transition: transform 500ms ease;
  margin: 80px 40px;
}


.card:hover, .card:focus-within {
  transform: scale(1.05);
}

.card-content {
  padding: 1.5rem;
  background: linear-gradient(black, rgba(0,0,0,0.5));
  
  ;
}

.card-content__title {
  text-decoration: underline;
  text-decoration-color: lightgray;
}

.card-content__body{
  color: rgba(255,255,255,0.8);
} */


/* ############################################################### EXPERIENCIA ############################################################### */

.body-experiencia {
    background-color: rgb(216, 203, 187);
}

.experiencia-section {
    margin: 5rem 0 0rem 0;
}

.sectionX {
    width: 100%;
    min-height: 50vh;
    background-color: rgb(141, 128, 111);
}

.experiencia-sectionN-1 .part1 {
    background-color: rgb(225, 221, 191);
}

.experiencia-sectionN-1 .part2 {
    background-color: rgb(76, 131, 122);
}


.contenedor {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px;
}

.content-section {
    float: left;
    width: 55%;
}

.image-section {
    float: right;
    width: 40%;
}

.image-section img {
    width: 470px;
    height: 350px;
    height: auto;
}

.content-section .experiencia-title {
    text-transform: uppercase;
    font-size: 28px;
    text-align: left;
}

.content-section .content-exp h3 {
    margin-top: 20px;
    color: #5d5d5d;
    text-align: left;
}

.content-section .content-exp p {
    text-align: left;
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
}




/* ############################################################### HABILIDADES ############################################################### */



.body-habilidades {
    text-align: left;
    background-image: url(https://assets-global.website-files.com/5f15530648874c5f977e91c2/61ddf2ba4096bd40effaf7e8_team-working-together-with-laptops.jpg);
    background-size: 100vw;
    background-size: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.habilidades-titulo {
    text-align: center;
    margin-top: 4rem;
}

.habilidades-seccion {
    margin: 1rem 0 0 0;
}


.skills {
    margin: auto;
    width: 1300px;
    padding: 0px 0;
}

.skills h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

.skills p {
    text-align: left;
    color: #fff;
}

.content {
    display: flex;
    align-items: center;
    margin: 50px;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

.left {
    width: 50%;
}

.left h2 {
    text-align: left;
    font-size: 30px;

}

.left p {
    font-size: 18px;
    margin: 15px 0;
}

.right {
    flex: 1;
    margin-left: 30px;
}

.right .line {
    margin-bottom: 15px;
}

.right .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right .info span {
    font-weight: 500;
    font-size: 18px;
    color: #fff;
}


.right .bars {
    background-color: rgb(23, 2, 2);
    height: 5px;
    width: 100%;
    position: relative;
}

.right .bars::before {
    content: '';
    position: absolute;
    height: 100%;
    background-color: crimson;
}

.right .ce::before {
    width: 90%;
}

.right .java::before {
    width: 80%;
}

.right .python::before {
    width: 60%;
}

.right .html::before {
    width: 90%;
}

.right .javascript::before {
    width: 0%;
}

.right .logix::before {
    width: 85%;
}

.right .labview::before {
    width: 30%;
}

.right .matlab::before {
    width: 90%;
}

.right .multisim::before {
    width: 90%;
}

.right .fluidsim::before {
    width: 70%;
}