* {
    Margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, .body-ayuda{
    font-family: 'Viaoda Libre', cursive;
    padding-top: 4.7rem;
    max-width: 100%;
}


nav {
    background: #E4F9F5;
}

#navbarSupportedContent .nav-link {
    color: #66BFBF;
}

.navbar-dark .navbar-toggler {
    color: transparent;
}

.container-fluid {
    margin: 0 20px;
}

ul>li {
    font-size: 1.1rem;
}


.fa-facebook {
    color: #1c1cdc;

}

.fa-github {
    color: black;
}

.fa-linkedin {
    color: #0e76a8;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

.container-sm {
    padding-left: 0;
    padding-right: 0;
}

.p-3 {
    padding: 3rem;
}

.intro {
    color: #66BFBF;
}

h1 {
    font-family: 'Monsieur La Doulaise', cursive;
    color: #66BFBF;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 0;
}

h2,
h3,
h4,
h5 {
    color: #66BFBF;
}

.exp {
    background: rgb(216, 203, 187);
}

.cont1 {
    background-color: rgb(141, 128, 111);
}

.cont2 {
    background-color: rgb(225, 221, 191);
}

.cont3 {
    background-color: rgb(76, 131, 122);
}

hr {
    border: dotted 6px;
    color: #adf1f1;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.btn {
    color: #66BFBF;
}


.sect1 p {
    color: #66BFBF;
    font-family: 'Viaoda Libre', cursive;
}


/* ##################################### HABILIDADES######################################### */

.body-habilidades {
    text-align: left;
    background-image: url(https://assets-global.website-files.com/5f15530648874c5f977e91c2/61ddf2ba4096bd40effaf7e8_team-working-together-with-laptops.jpg);
    background-size: 100vw;
    background-size: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.habilidades-titulo {
    text-align: center;
    margin-top: 4rem;
}

.habilidades-seccion {
    margin: 1rem 0 0 0;
}


.skills {
    margin: auto;
    width: 80%;
    padding: 50px 0;
}

.skills h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

.skills p {
    text-align: left;
    color: #fff;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

.left {
    width: 70%;
}

.left h2 {
    text-align: left;
    font-size: 30px;

}

.left p {
    font-size: 18px;
    margin: 15px 0;
}

.right {
    flex: 1;
    width: 80%;
}

.right .line {
    margin-bottom: 15px;
}

.right .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right .info span {
    font-weight: 500;
    font-size: 18px;
    color: #fff;
}


.right .bars {
    background-color: rgb(23, 2, 2);
    height: 5px;
    width: 100%;
    position: relative;
}

.right .bars::before {
    content: '';
    position: absolute;
    height: 100%;
    background-color: crimson;
}

.right .ce::before {
    width: 90%;
}

.right .java::before {
    width: 80%;
}

.right .python::before {
    width: 60%;
}

.right .html::before {
    width: 90%;
}

.right .javascript::before {
    width: 0%;
}

.right .logix::before {
    width: 85%;
}

.right .labview::before {
    width: 30%;
}

.right .matlab::before {
    width: 90%;
}

.right .multisim::before {
    width: 90%;
}

.right .fluidsim::before {
    width: 70%;
}



/* ###################################################### METAS ###################################################### */

.body-metas {
    background-image: url(https://media.traveler.es/photos/613779b46936668f30c3fa10/16:9/w_2580,c_limit/33288.jpg);
    background-size: 100vw;
    background-size: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.tarj1 {
    border-radius: 50px;
    background-color: #31384A;
    box-shadow: 0 2px 2px rgba(149, 139, 139, 0.2);
    text-align: center;
    transition: all 0.25s;
}

.col a {
    background-color: black;
}

/* ###################################################### INFORMACION ###################################################### */

.body-ayuda {
    background-image: url(https://img3.goodfon.com/wallpaper/nbig/3/a3/new-york-city---snow-on-a.jpg);
    background-size: 100vw;
    background-size: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}

form {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}


.foot{
    align-self: flex-end;
    text-align: center;
}

/* ###################################################### BOTONES ###################################################### */

.boton1, .boton2, .boton3, .boton4, .boton0, .boton5, .boton7, .boton8, .boton9{
    padding: 20px 40px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 20px;
    transition: all 0.3s;
    overflow: hidden;
    position: relative;
}

.boton1:before {
    content: "Leer mas";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(270deg);
    transform-origin: top;
    transition: all 0.5s;
}

.boton1:hover:before,
.boton1:hover:after {
    transform: rotatex(0);
}

.boton1:after {
    content: "Leer mas";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(270deg);
    transform-origin: top;
    transition: all 0.5s;
    transition-delay: 0.25s;
}

/* 8. ########################################################################### */


.boton2:hover {
    background-color: red;
}

.boton2:before {
    content: "";
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    position: absolute;
    transform: translatex(-100%) rotate(45deg);
    transition: all 0.3s;
}

.boton2:hover:before {
    transform: translatex(100%) rotate(45deg);
}

/* 9. ########################################################################### */

.boton3:before {
    content: "Leer mas";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.boton3:after {
    content: "Leer mas";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: yellow;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    transform: translate(-100%, 100%);
}

.boton3:hover:before {
    transform: translate(100%, -100%)
}

.boton3:hover:after {
    transform: translate(0, 0);
}



/* ###################################################### RESPONSIVE ###################################################### */


@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: none;
    }

}

@media (min-width: 992px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: none;
    }


    .skills {
        margin: auto;
        padding: 0px 0;

    }

    .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 50px;
        padding: 2rem;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 20px;
    }

    .left {
        width: 50%;
    }

    .left h2 {
        text-align: left;
        font-size: 30px;

    }

    .left p {
        font-size: 18px;
        margin: 15px 0;
    }

    .right {
        flex: 1;
        margin-left: 30px;
    }

    .right .line {
        margin-bottom: 15px;
    }

    .right .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .right .info span {
        font-weight: 500;
        font-size: 18px;
        color: #fff;
    }


    .right .bars {
        background-color: rgb(23, 2, 2);
        height: 5px;
        width: 100%;
        position: relative;
    }

    .right .bars::before {
        content: '';
        position: absolute;
        height: 100%;
        background-color: crimson;
    }

    .right .ce::before {
        width: 90%;
    }

    .right .java::before {
        width: 80%;
    }

    .right .python::before {
        width: 60%;
    }

    .right .html::before {
        width: 90%;
    }

    .right .javascript::before {
        width: 0%;
    }

    .right .logix::before {
        width: 85%;
    }

    .right .labview::before {
        width: 30%;
    }

    .right .matlab::before {
        width: 90%;
    }

    .right .multisim::before {
        width: 90%;
    }

    .right .fluidsim::before {
        width: 70%;
    }





}

@media (min-width: 768px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: none;
    }



}

@media (min-width: 576px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: none;
    }

    .sect1 p {
        font-size: 1.2rem;
    }

    .sect1 h1 {
        font-size: 3.65rem;
        font-weight: 700;
    }


}